$colors: (
    "yellow": hsl(47, 88%, 63%),
    "white": hsl(0,0%,100%),
    "grey": hsl(0, 0%, 50%),
    "black": hsl(0, 0%, 7%),


);

$font: 16px;

$fontFamily: "Figtree";

body{
    background-color: map-get($colors, "yellow" );
    font-family: $fontFamily;
    font-weight: 500;
};

.container{
    position: absolute;
    
    
    right: 0;
    left: 0;
    top: 100px;
    margin: auto;
    box-shadow: 5px 5px;
    display: flex;
    flex-direction: column;
    width: 384px;
    border-radius: 20px;
    background-color: map-get($colors,"white" );
    padding: 15px;
    .blogImage{
        border-radius: 10px;
        margin-bottom: 20px
    };
    .content{
        
        .category{
            background-color: map-get($colors,"yellow" );
            width: 82px;
            height: px;
            padding-left:7px ;
            padding-top: 7px;
            padding-bottom: 5px;
            margin-bottom: 5px;
            border-radius: 4px;
            font-weight: 700;
        };
        .publishDate{
            margin-bottom: 15px;
            color: map-get($colors, "black" )
        };
        .title{
            margin-bottom: 20px;
            font-weight: 900;

        }
        div{
            
        };
        .description{
            padding: 0;
            margin: 0;
            p{
                margin: 0;
                color: map-get($colors, "grey" )


            }
        }


    };
    .author{
        display: flex;
        align-items: center;
        img{
            
            width: 32px;
            height: 32px;
        };
        p{font-weight: bold;margin-left: 20px;}

    }
}
.container:hover{
    box-shadow: 10px 10px;
    .title{
        color: yellow;
    }
}

