$colors: (
    "yellow": hsl(47, 88%, 63%),
    "white": hsl(0,0%,100%),
    "grey": hsl(0, 0%, 50%),
    "black": hsl(0, 0%, 7%),


);

$font: 16px;

$fontFamily: "Figtree";

body{
    background-color: map-get($colors, "yellow" );
    font-family: $fontFamily;
};

.container{
    display: flex;
    flex-direction: column;
    border-style: solid;
    width: 384px;
    border-radius: 20px;
    background-color: map-get($colors,"white" );
    padding: 15px;
    .blogImage{
        border-radius: 10px;
        margin-bottom: 20px
    };
    .content{
        border-style: solid;
        .category{
            background-color: map-get($colors,"yellow" );
            width: 82px;
            height: px;
            padding-left:7px ;
            padding-top: 7px;
            padding-bottom: 5px;
            margin-bottom: 5px;
        };
        .publishDate{
            margin-bottom: 15px;
        };
        .title{
            margin-bottom: 20px;
        }
        div{
            border-style: solid;
        };
        .description{
            border-style: dotted;
            padding: 0;
            margin: 0;
            p{
                border-style: solid;
                margin: 0;


            }
        }


    };
    .author{
        display: flex;
        border-style: solid;
        align-items: center;
        img{
            border-style: solid;
            width: 32px;
            height: 32px;
        };
        p{border-style: solid;}

    }
}

